<ActionBar title="Groceries"></ActionBar>

<StackLayout height="100%">
  <ListView [items]="marketInfo" class="market-summary">
    <ng-template let-item="item" let-i="index">
      <GridLayout
        width="100%"
        [height]="i == 0 ? 50 : 90"
        separatorColor="red"
        columns="100, *, *, *, *, *"
        [backgroundColor]="i == 0 ? 'rgb(91, 155, 213)' : 'white'"
      >
        <Label *ngIf="i == 0; else exchange" col="0" [text]="item.exchange" class="padding"></Label>
        <ng-template #exchange>
          <Image col="0" [src]="'~/app/shared/images/exchanges/' + item.exchange + '.jpg'" class="exchange-logo"></Image>
        </ng-template>
        <Label col="1" [text]="item.buy" class="padding"></Label>
        <Label col="2" [text]="item.sell" class="padding"></Label>
        <Label col="3" [text]="item.last" class="padding"></Label>
        <Label col="4" [text]="item.high" class="padding"></Label>
        <Label col="5" [text]="item.low" class="padding"></Label>
      </GridLayout>
    </ng-template>
  </ListView>
</StackLayout>
