<ActionBar title="Realtime Market Arbitrage (BTCUSD)"></ActionBar>

<StackLayout height="100%">
  <ListView [items]="marketInfo" class="market-summary">
    <ng-template let-item="item" let-i="index">
      <GridLayout
        width="100%"
        [height]="i == 0 ? 50 : 90"
        separatorColor="red"
        columns="100, *, *, *, *, *"
        [class.header]="i == 0"
      >
        <Label
          col="0"
          *ngIf="i == 0; else exchange"
          [text]="item.exchange"
          class="padding text-center"></Label>
        <ng-template #exchange>
          <Image col="0" [src]="'~/app/shared/images/exchanges/' + item.exchange + '.jpg'" class="exchange-logo"></Image>
        </ng-template>
        <Label col="1" [text]="i == 0 ? item.buy : item.buy.price" [class]="'padding price-' + item.buy.status"></Label>
        <Label col="2" [text]="i == 0 ? item.sell : item.sell.price" [class]="'padding price-' + item.sell.status"></Label>
        <Label col="3" [text]="i == 0 ? item.high : item.high.price" [class]="'padding price-' + item.high.status"></Label>
        <Label col="4" [text]="i == 0 ? item.low : item.low.price" [class]="'padding price-' + item.low.status"></Label>
        <Label col="5" [text]="i == 0 ? item.last : item.last.price" [class]="'padding price-' + item.last.status"></Label>
      </GridLayout>
    </ng-template>
  </ListView>
</StackLayout>
