.market-summary {
  height: 100%;
  width: 100%;
  .header {
    background-color: rgb(91, 155, 213);
    color: #fff;
  }
  .text-center {
    text-align: center;
  }
  .price {
    &-up {
      color: green;
    }
    &-down {
      color: red;
    }
  }
  .padding {
    padding: 5 0;
  }
  .exchange-logo {
    width: auto;
    height: 36;
  }
}
